{%extends 'superadmin/index.html'%}
{%load static%}
{% load mytags %}
{%block body%}
<!-- ============================================================== -->
<div class="main-contentw-">
    <div class="">
        <div class="">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="color:green;text-align:center;border:1px solid rgb(195, 187, 187);padding: 5px;background-color: rgb(248, 240, 255);">Review Details </h4>
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-bordered">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle">Product Id</th>
                                            <td> {{data.product_id}}<td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">Product Name</th>
                                            <td>{{data.product_name}}<td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">Product Rating</th>
                                            <td>{{data.product_rating}}<td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">Customer Name</th>
                                            <td>{{data.customer_name}}<td>
                                        </tr>
                                        
                                        <tr>
                                            <th class="align-middle">Customer Comment</th>
                                            <td>{{data.customer_comment}}<td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">Date</th>
                                            <td>{{data.date}}<td>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">Status</th>
                                            <td>{{data.status}}<a href="/update-review-status/{{data.id}}">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-edit"></i></a><td>
                                        </tr>

                                        
                                          
                                    </thead>
                                   
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
                

            </div>
         </div> 
    </div>
    <!-- End Page-content -->

    {%endblock%}