{%extends 'superadmin/index.html'%}
{%load static%}
{%block body%}

<!-- ============================================================== -->
<div class="main-contentw-100">
    <div class="page-content">
        <div class="container-fluid">
            
            <!-- end row -->
            
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class=" text-center">Update Subcategory</h4>
                            <form method="post" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="row">
                              
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label class="form-label">Category Name <span class="text-danger">*</span></label>
                                  <select name="category" class="form-control">
                                    <option value="" selected disabled>Select Category</option>
                                    {%for item in cat%}
                                    <option value="{{item.name}}" {%if data.category == item.name%}selected {%endif%}>{{item.name}}</option>
                                    {%endfor%}
                                </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label class="form-label">Subcategory Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name"name="name" required value="{{data.subcategory_name}}"> 
                                </div>
                            </div>
                             
                            
                                    {%if data.image%}
                                     <div class="col-lg-1">
                                        <div class="mb-3">
                                            <img src="{{data.image.url}}" style="height:50px;width:50px;margin-top:20px">
                                            </div>
                                    </div>
                                    {%endif%}
                                     <div class="col-lg-3">
                                         <div class="mb-3">
                                            <label class="form-label">Icon
                                                <!-- <span class="text-danger">*</span> -->
                                            </label>
                                             <input type="file" accept=".png,.jpg,.jpeg" class="form-control" name="image" >
                                         </div>
                                     </div>
                                                                         
                                   
                                    <script>
                                        tinymce.init({
                                          selector: 'textarea',
                                          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                                        });
                                      </script>
                                
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary text-center mt-4" style="padding:2px 50px;">Update</submit>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> 
    </div>
    <!-- End Page-content -->

    {%endblock%}